<h2><%= @event.name %></h2>
<h2><%= link_to "Edit #{@event.month.name}", edit_month_path(@event.month)%></h2>

<%= link_to "Edit Event", edit_character_path(@name)%>

<%= link_to "Delete Event", character_path(@name), method: :delete %>

<div class="Event">

</div
