<h2><%= @event.name %></h2>
<h3>Month <%= @month.name %></h3>


<%= month_calendar do |date| %>
  <%= date %>
<!-- missing an end here. would recommend checking out separate branhces for features you are adding in. this is the more professional workflow and keeps your master branch and uncluttered while giving you a controlled environment to experiment and implement nerw features safely -->
