<h2> Add A New Schedule <%= link_to "(+)", new_month_path %></h2>

</div>
<body class = "month">
  <style>

  .month {
    color: rgba(128, 0, 0,0.90);
  }

  body {

    background-image: url("http://www.futureagenda.org/assets/img/news/thumb_hd/a_future_agenda_update_one_year_on.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

  }
  </style>
<h2>Pick a type of schedule:</h2>
<h1><% @months.each do |month| %></h1>
  <h2><%= link_to month.name, month %></h2>
</body>
<% end %>
